/* Fuente de texto importada de Google para emplear posteriormente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
	min-height: 100vh;
	height: 100vh;
	max-height: 100vh;
	background-color: aquamarine;
}

/* Style the tab */
.tab {
  max-width: 400px;
  min-width: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

code {
  max-height: 650px;
  min-height: 650px;
  max-width: 400px;
  min-width: 400px;
  overflow: scroll;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-height: 650px;
  min-height: 650px;
  max-width: 400px;
  min-width: 400px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.styleCode{
	display: block; 
	padding: 3px 3px 2px; 
	font-size: 14px; 
	line-height: 20px;
	width: 100%;
	background-color: #333;
	font-family: arial;
	color: #f7f7f7;
	font-weight: bold;
}