body, html {
  width: 100%;
  min-height: 100%;
  min-width: 1200px;

  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  padding-left: 10px;
}

h1, h2, h3 {
  color: white;
}
.row {
  max-width: 1150px;
}

#styleBoard {
  background-color: blue;
}

/* Style the tab */
.tab {
  max-width: 350px;
  min-width: 350px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tabSize {
  overflow: scroll;
  min-height: 650px;
  min-width: 350px;
  max-height: 650px;
  max-width: 350px;
  object-fit: scale-down;
}

code {
  overflow: scroll;
}

.copyBtn {
  display: block;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(204, 204, 204, 0.61);
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.styleCode{
	display: block; 
	padding: 3px 3px 2px; 
	font-size: 14px; 
	line-height: 20px;
	width: 100%;
	background-color: #333;
	font-family: arial;
	color: #f7f7f7;
	font-weight: bold;
}

iframe {
  max-height: 600px;
  min-height: 600px;
  max-width: 350px;
  min-width: 350px;
  margin: 5px;
}

.texto {
  background-color: rgba(221, 221, 221, 0.445);
  max-width: 800px;
}

.tablinks {
  color: white;
}