.bodyStyle {
	min-width: 1600px;
  overflow: scroll;
}

/* Style the tab */
.tab {
  max-width: 400px;
  min-width: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabSize {
  overflow: scroll;
  max-height: 650px;
  min-height: 650px;
  max-width: 400px;
  min-width: 400px;
}

code {
  overflow: scroll;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.styleCode{
	display: block; 
	padding: 3px 3px 2px; 
	font-size: 14px; 
	line-height: 20px;
	width: 100%;
	background-color: #333;
	font-family: arial;
	color: #f7f7f7;
	font-weight: bold;
}

iframe {
  max-height: 600px;
  min-height: 600px;
  max-width: 350px;
  min-width: 350px;
  margin: 5px;
}